* {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
:root {
  /*light*/
  --perwinkle: #cad8f7;
  --perwinkle-2: #bccdf1;
  --glaucous: #5274b7;
  --true-blue: #4d6eab;
  --YinMn-blue: #39547f;
  /*dark*/
  --oxford-blue: #0b1e47;
  --space-cadet: #112650;
  --lapis-lazuli: #43629f;
  --true-blue-dark: #4d6eab;
  --vista-blue: #829cc7;
}
body {
  background-color: var(--perwinkle-2);
}
.App {
  position: relative;
}
.notesIMG {
  border-radius: 0;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 400px;
  background-position: center;
  background-image: url("./images/aa68b9419cb9c664559259f150ca6009.jpg");
}
.notesIMG h2 {
  cursor: default;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
  color: white;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.notesIMG button {
  position: absolute;
  right: -50px;
  z-index: 1;
  margin-left: 25px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.notesIMG::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #43629f84;
}

#Dark-LightBTN:hover {
  background-color: transparent !important;
}
.inputs {
  width: 60%;
  height: fit-content;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#taskInput {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  position: relative;
  background-color: var(--YinMn-blue);
}
#taskInput button {
  width: 15%;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: white;
}
#taskInput button:hover {
  cursor: pointer;
}
#taskInput input {
  margin-left: 10px;
  width: 80%;
  border: none;
  padding: 5px 0;
  font-size: 1.2rem;
  color: rgb(194, 194, 194);
  background-color: transparent;
}
#taskInput input:focus {
  outline: none;
}
#taskInput input::placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.479);
}
.tasks {
  margin-top: 25px;
  width: 100%;
  height: auto;
  background-color: var(--YinMn-blue);
}
.tasks span {
  display: block;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.checkbox-wrapper {
  width: 100%;
  min-height: 60px;
  display: grid;
  grid-template-columns: 4% 76% 10% 10%;
  align-items: center;
}

.task {
  margin-top: 15px;
}
.task-buttons {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 40px;
background-color: transparent !important;
}
#delete {
  height: 100%;
}
#edit {
  color: white;
  height: 100%;
  border: none !important;
  font-size: larger;
}
.custom-checkbox {
  accent-color: var(--true-blue);
  transform: scale(1.5);
  margin-left: 10px;
}
.custom-checkbox:hover {
  accent-color: var(--true-blue);
}

.labeltext {
  pointer-events: none;
  cursor: pointer;
  flex: 1;
  line-height: 1.4;
  word-break: break-all;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  margin-left: 25px;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lineThrough {
  text-decoration: line-through;
  color: gray;
}
