* {
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
[data-theme="dark"] {
  /*light*/
  --main: #262e45;
  --text-color: white;
}
:root {
  /*dark*/
  --main: #aec8e2;
  --text-color: black;
}

body {
  background-color: #87abd3;
  color: var(--text-color);
}
.App {
  position: relative;
}
.notesIMG {
  border-radius: 0;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 400px;
  background-position: center;
  background-image: url("./images/aa68b9419cb9c664559259f150ca6009.jpg");
}
.notesIMG h2 {
  cursor: default;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
  color: white;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.notesIMG button {
  position: absolute;
  right: -50px;
  z-index: 1;
  margin-left: 25px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.notesIMG::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #43629f84;
}
/*disable the hover effect on the dark-light button*/
#Dark-LightBTN:hover {
  background-color: transparent !important;
}
.inputs {
  width: 60%;
  height: fit-content;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#taskInput {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  position: relative;
  background-color: var(--main);
}
#taskInput button {
  width: 15%;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: var(--text-color);
}
#taskInput button:hover {
  cursor: pointer;
}
#taskInput input {
  margin-left: 10px;
  width: 80%;
  border: none;
  padding: 5px 0;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: transparent;
}
#taskInput input:focus {
  outline: none;
}
#taskInput input::placeholder {
  font-size: 1.2rem;
  color: var(--text-color);
}
.tasks {
  padding-bottom: 20px;
  margin-top: 25px;
  width: 100%;
  min-height: 5rem;
  height: auto;
  background-color: var(--main);
}
.tasks span {
  display: block;
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.checkbox-wrapper {
  width: 100%;
  min-height: 60px;
  display: grid;
  grid-template-columns: 4% 76% 10% 10%;
  align-items: center;
}


.task {
  margin: auto;
  width: 80%;
  margin-top: 15px;
}
.task-buttons {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 40px;
  background-color: transparent !important;
}
#delete {
  height: 100%;
}
#edit {
  color: var(--text-color);
  height: 100%;
  border: none !important;
  font-size: larger;
  margin-left: -20px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  accent-color: #87abd3;
}
.custom-checkbox:hover {
  accent-color: #87abd3;
}
.labeltext {
  pointer-events: none;
  cursor: pointer;
  flex: 1;
  line-height: 1.4;
  word-break: break-all;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.2rem;
  margin-left: 25px;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lineThrough {
  text-decoration: line-through;
  color: gray;
}
#notasks-span {
  color: var(--text-color);
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 150%);
  position: absolute;
  display: inline;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.closeBTN{
  border: none;
  width: fit-content;
  height: fit-content;
  margin-left: auto !important;
  background-color: transparent !important;
}
#closeIcon{
  font-size: 1.5rem;
  color: var(--text-color);
}
@media (max-width: 997px) {
  .notesIMG h2 {
    font-size: 1.5rem;
  }
  .notesIMG button {
    font-size: 1.5rem;
  }
}
